{% extends 'base.html.twig' %}

{% block title %}
    Liste des utilisateurs
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">

            <a href="{{ env.base_path ~ '/users/new' }}" class="btn btn-primary mb-2">Créer un utilisateur</a>

            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>
                                <a href="{{ env.base_path ~ '/users/' ~ user.id }}" class="btn btn-xs btn-primary">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>
    </div>
{% endblock content %}